body{
margin: 0;
font-family: 'Poppins', sans-serif;	

}

#container  {
width: 100%;
background: url(images/hex-pattern.svg) no-repeat;

}

#header	{
width: 100%;
height: 400px;
position: relative;
background: #341f97;
background: url(images/BG.jpg) no-repeat;
background-size: cover;
/*background: linear-gradient(180deg,#240044 0,#0f0240 25%,#400959 40%,#0f0240 65%,#0f0240);*/
/*border-bottom: 2px solid #000000;*/

}

/* Calculator Background */
#header1	{
width: 100%;
height: 400px;
position: relative;
background: #341f97;
background: url(images/BG_2.jpg) no-repeat;
background-size: cover;
/*background: linear-gradient(180deg,#240044 0,#0f0240 25%,#400959 40%,#0f0240 65%,#0f0240);*/
/*border-bottom: 2px solid #000000;*/

}

#header .title,
#header1 .title{
	font-family: 'Poppins', sans-serif;
	font-size: 42px;
	font-weight: 500;
	color:rgb(255,255,255);
	text-align: center;
	line-height: 39px;
	cursor: pointer;
	position: absolute;
	top:50%;
	left:50%;
	transform:translateX(-50%); 
}

#header .logo,
#header1 .logo{
	padding:1.5em;
	margin-left: 6em;

}

#header .logo a,
#header1 .logo a{
	font-family: 'Poppins', sans-serif;
	font-size: 26px;
	font-weight: 500;
	color:rgb(255,255,255);
	margin-top: 10em;
	
}

#header a,
#header1 a {

color: #ffffff;
text-decoration: none;
/*font-weight: bold;*/
font-family: 'Poppins', sans-serif;
font-size: 14px;

}

/*#header a:visited  {

color: #ffffff;
font-weight: bold;

}*/


.HorizLinks ul { 

width: 500px;
margin: auto; 
text-align: center;
margin-top:3%;

}

.HorizLinks li {

margin: 0px 2px 0px 0px;
list-style-type: none;
display: inline;
font-size: 13px;
}


#horizontalnav  {
height: 30px;
position: absolute;
top: 2em;
right: 3em;

}


.navlinks ul { 

margin: auto;

}

.navlinks li {

margin: 0px 18px 0px 0px;
list-style-type: none;
display: inline;

}

.navlinks li a {

color: #ffffff;	
padding: 5px 12px 7px;
text-decoration: none;
font-size: 15px;
font-family: 'Poppins', sans-serif;

}


.smalltext   {

font-size: 9px;
text-align: left;
color: rgb(255,255,255);
font-family: 'Poppins', sans-serif;
letter-spacing: 2.5px;
}


#leftnav {
float: left;
width: 140px;
}
		

#rightnav  {
float: right;
width: 140px;
/*height: 400px;
background-color: #F8AA3C;
border-left: 1px dashed #694717;*/

}

#body  {
width: 60%;
/*min-width: 800px;*/
margin: 0 auto;
margin-bottom: 20px;
}

section{
	/*border: 1px solid red;*/
	margin-top: 1em;
	
}

.item{
/*	width: 95%;*/
	margin:auto;
	height: 464px;
	box-shadow:0 5px 40px 0 rgba(0,0,0,.11);
	border-radius: 10px;
	background: url(images/cards-bg.png) no-repeat;
	position: relative;
	background-color: #fff;
    background-position: center;
    background-size: cover;
}
.item img{
	position: absolute;
	top: 5%;
	left: 50%;
	transform: translateX(-50%);
}
.item .text{
	width:90%;
	font-size: 15px;
	color:rgb(136,136,136);
	line-height: 28.5px;
	font-weight: 400;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%);
}



.d-blue{
	color: red;
	font-size: 25px;
	font-weight: 600;
  
}


#footer  {

clear: both;
background: url(images/FooterBG.jpg) no-repeat;
height: 480px;
background-size: cover;
position: relative;
}

/* Calculator Page */
#footer1  {

clear: both;
background: url(images/FooterBG_1.png) no-repeat;
height: 480px;
background-size: cover;
position: relative;
}

.box{
font-family:Poppins, sans-serif;
margin-top: 10%;
font-size: 20px;
color: #888;
font-weight: 500;
text-align: center;
text-transform: capitalize;
}
.box_small{
	text-transform: none;
	font-size: 14px;
}
#bottom {
	position: absolute;
	bottom: 3%;
	left: 50%;
	transform: translateX(-50%);
	width:45%;
}
.bottom_link{
	min-width: 95px;
	text-align: center;
}
#bottom a{
	 color: #ffffff;
	 text-decoration:none;
	 font-size: 15px;
	 text-align: center;
}
#feedback{
	margin-bottom: 1.3vh;
	font-size: 14px;
	color: red;

}
#answer{
	font-family:Poppins, sans-serif;
	font-size: 18px;
	color: #888;
	margin-bottom: 1.3vh;
	/*border: 1px solid red;*/

}

.converter{
	margin-top: 5em;
}
select{
	width:200px;
	height: 38px;
	background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
}
option{
	color: #495057;
	text-align: center;
}
.smallLabel{
	font-size: 15px;
	color: black;
}

table th,
table td {
	width:200px;
/*	height:30px;*/
	text-align: left;
/*  	padding: 15px;*/
}